### 공공데이터

In [1]:
import pandas as pd

In [2]:
path=r'C:\Users\user\Desktop\Python\data.csv'
df=pd.read_csv(path,encoding='CP949')

In [3]:
df

       학번   이름   java     c  python   유니티
0   30301   김1    NaN   NaN     NaN   NaN
1   30302   김2   15.0  97.0    88.0  12.0
2   30303   김3   20.0  94.0    86.0  14.0
3   30304   김4   25.0  91.0    84.0  16.0
4   30305   김5   30.0  88.0    82.0  18.0
5   30306   김6   35.0  85.0    80.0  20.0
6   30307   김7   40.0  82.0    78.0  22.0
7   30308   김8   45.0  79.0    76.0  24.0
8   30309   김9    NaN   NaN     NaN   NaN
9   30310  김10   55.0  73.0    72.0  28.0
10  30311  김11   60.0  70.0    70.0  30.0
11  30312  김12   65.0  67.0    68.0  32.0
12  30313  김13   70.0  64.0    66.0  34.0
13  30314  김14   75.0  61.0    64.0  36.0
14  30315  김15   80.0  58.0    62.0  38.0
15  30316  김16   85.0  55.0    60.0  40.0
16  30317  김17   90.0  52.0    58.0  42.0
17  30318  김18    NaN   NaN     NaN   NaN
18  30319  김19  100.0  46.0    54.0  46.0
19  30320  김20  100.0  43.0    52.0  48.0
20  30321  김21  100.0  40.0    50.0  50.0
21  30322  김22  100.0  37.0    48.0  52.0

In [4]:
df.head(3)

      학번  이름  java     c  python   유니티
0  30301  김1   NaN   NaN     NaN   NaN
1  30302  김2  15.0  97.0    88.0  12.0
2  30303  김3  20.0  94.0    86.0  14.0

In [5]:
df.tail()

       학번   이름   java     c  python   유니티
17  30318  김18    NaN   NaN     NaN   NaN
18  30319  김19  100.0  46.0    54.0  46.0
19  30320  김20  100.0  43.0    52.0  48.0
20  30321  김21  100.0  40.0    50.0  50.0
21  30322  김22  100.0  37.0    48.0  52.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 6 columns):
학번        22 non-null int64
이름        22 non-null object
java      19 non-null float64
c         19 non-null float64
python    19 non-null float64
유니티       19 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.2+ KB

In [7]:
df.shape

(22, 6)

In [8]:
df.isnull().sum()

학번        0
이름        0
java      3
c         3
python    3
유니티       3
dtype: int64

In [9]:
df['유니티']

0      NaN
1     12.0
2     14.0
3     16.0
4     18.0
5     20.0
6     22.0
7     24.0
8      NaN
9     28.0
10    30.0
11    32.0
12    34.0
13    36.0
14    38.0
15    40.0
16    42.0
17     NaN
18    46.0
19    48.0
20    50.0
21    52.0
Name: 유니티, dtype: float64

In [10]:
null_count=df.isnull().sum()
df_null=null_count.reset_index()
df_null.columns=['구분','결측값']
df_null

       구분  결측값
0      학번    0
1      이름    0
2    java    3
3       c    3
4  python    3
5     유니티    3

In [11]:
df_null.sort_values(by='결측값').tail(3)

       구분  결측값
3       c    3
4  python    3
5     유니티    3

In [12]:
pt=r'C:\Users\user\Desktop\Python\data2.csv'
d=pd.read_csv(pt,encoding='cp949')

In [13]:
d

,사무소명,주소,전화번호,데이터기준일자
0,다와행정사사무소,"서울 동대문구 왕산로47길 54, 1층(청량리동)",02-975-4455,2020-06-04
1,우성 행정사사무소,"서울 동대문구 답십리로 184, 3동 1203호(답십리동, 동서울한양아파트)",02-2217-8731,2020-06-04
2,윤득노행정사사무소,"서울 동대문구 이문로 93(이문동,민족통일MJ캠퍼스외대)",02-969-3700,2020-06-04
3,합동행정사사무소,"서울 동대문구 한빛로 12, 삼우빌딩 401호(신설동)",02-904-5112,2020-06-04
4,글로벌코리아행정사사무소,"서울 동대문구 왕산로 122, 한방천하 용두동 포스빌 819호(용두동)",NaN,2020-06-04
5,미라보행정사,"서울 동대문구 왕산로35길 13, 306호(제기동)",02-2244-2305,2020-06-04
6,리더스행정법률컨설팅,서울 동대문구 약령시로21길 3(청량리동),02-959-5455,2020-06-04
7,동부행정사,"서울 동대문구 약령시로 154, 3동 1205호(청량리동,미주아파트)",NaN,2020-06-04
8,행정사고영표사무소,"서울 동대문구 망우로 133, 303호(휘경동,진영빌딩)",NaN,2020-06-04
9,강대남행정사사무소,"서울 동대문구 약령시로21길 30, 제4동 제5호(청량리동,현대아파트상가)",02-855-6778,2020-06-04
10,국민권익행정사사무소,"서울 동대문구 망우로 83, 3층(휘경동)",NaN,2020-06-04
11,행정사 봉공,"서울 동대문구 왕산로 4, 306호(신설동,동화빌딩)",NaN,2020-06-04
12,붐행정사사무소,"서울 동대문구 청계천로 433, 1309,1310호(신설동,미우골든오피스텔)",NaN,2020-06-04
13,한상도행정사사무소,서울 동대문구 이문로 29(회기동),02-969-1800,2020-06-04
14,행정사이철호사무소,서울 동대문구 천호대로35길 25(용두동),NaN,2020-06-04
15,행정서사향우사무소,서울 동대문구 천호대로35길 25(용두동),02-962-6251,2020-06-04
16,VISA KOREA 행정사사무소,"서울 동대문구 천호대로23, 지하1층 18호(신설동,동광동대문베르빌)",1899-4644,2020-06-04
17,최세출행정사사무소,"서울 동대문구 천호대로 295, 지하1층 34호(답십리동)",NaN,2020-06-04
18,스마트행정사사무소,"서울 동대문구 왕산로 225, 3층 6호(청량리동,미주상가)",070-4643-5251,2020-06-04
19,탑행정사사무소,서울 동대문구 왕산로26길 23(용두동),02-964-0713,2020-06-04
20,행정사이범석사무소,서울 동대문구 약령시로21길 30(청량리동),02-967-9103,2020-06-04
21,행정사권동용사무소,"서울 동대문구 왕산로 225, A동 2층 203-2호(청량리동,미주상가)",NaN,2020-06-04
22,인선행정사사무소,"서울 동대문구 고산자로 420, 429호(용두동,경동프라자)",02-967-5455,2020-06-04
23,행정사송경엽사무소,"서울 동대문구 천호대로83길 32, 704호(장안동,신부파스칼텔)",NaN,2020-06-04
24,행정사구용우사무소,서울 동대문구 고산자로28가길 2(용두동),NaN,2020-06-04
25,상우행정사사무소,"서울 동대문구 외대역동로 14, 103동 602호(휘경동,휘경센트레빌)",02-409-0736,2020-06-04
26,조장훈행정사사무소,"서울 동대문구 이문로9길 133, 지하1층(이문동)",02-959-2432,2020-06-04
27,신화행정사사무소,"서울 동대문구 왕산로 225, A동 5층 3호(청량리동,미주상가)",NaN,2020-06-04
28,가일행정사,"서울 동대문구 왕산로 4, 612호(신설동,동화빌딩)",NaN,2020-06-04
29,외국어번역행정사사무소,서울 동대문구 회기로19길 15(회기동),02-964-9670,2020-06-04
30,행정사 신광우,서울 동대문구 왕산로32길 99(용두동),02-957-3215,2020-06-04
31,코리아행정사,서울 동대문구 장한로 6(장안동),02-2245-5074,2020-06-04
32,이요일행정사사무소,서울 동대문구 청량리동 한신근린상가 304호,NaN,2020-06-04
33,이규석행정사,서울 동대문구 이문로 163(이문동),02-959-6664,2020-06-04
34,MJ행정사사무소,서울 동대문구 장한로12길 73(장안동),02-444-0070,2020-06-04
35,김난선행정사사무소,서울 동대문구 이문로 130(이문동),02-957-1122,2020-06-04
36,광성사,서울 동대문구 천호대로 319(답십리동),NaN,2020-06-04
37,행정사이승제사무소,서울 동대문구 약령시로21가길 3(청량리동),NaN,2020-06-04
38,피정호행정사,서울 동대문구 이문로 163(이문동),NaN,2020-06-04
39,서한기업(주),서울 동대문구 천호대로 295(답십리동),02-2215-0051,2020-06-04
40,안성사,서울 동대문구 고산자로28가길 2(용두동),02-965-5925,2020-06-04

In [14]:
d.head(3)

,사무소명,주소,전화번호,데이터기준일자
0,다와행정사사무소,"서울 동대문구 왕산로47길 54, 1층(청량리동)",02-975-4455,2020-06-04
1,우성 행정사사무소,"서울 동대문구 답십리로 184, 3동 1203호(답십리동, 동서울한양아파트)",02-2217-8731,2020-06-04
2,윤득노행정사사무소,"서울 동대문구 이문로 93(이문동,민족통일MJ캠퍼스외대)",02-969-3700,2020-06-04

In [15]:
d.tail(3)

       사무소명                       주소          전화번호     데이터기준일자
38   피정호행정사     서울 동대문구 이문로 163(이문동)           NaN  2020-06-04
39  서한기업(주)   서울 동대문구 천호대로 295(답십리동)  02-2215-0051  2020-06-04
40      안성사  서울 동대문구 고산자로28가길 2(용두동)   02-965-5925  2020-06-04

In [16]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
사무소명       41 non-null object
주소         41 non-null object
전화번호       24 non-null object
데이터기준일자    41 non-null object
dtypes: object(4)
memory usage: 1.4+ KB

In [17]:
d.isnull().sum()

사무소명        0
주소          0
전화번호       17
데이터기준일자     0
dtype: int64

In [18]:
null_c=d.isnull().sum()
c=null_c.reset_index()
c.columns=['구분','결측값']
c

        구분  결측값
0     사무소명    0
1       주소    0
2     전화번호   17
3  데이터기준일자    0

In [19]:
c.sort_values(by='결측값').tail(3)

        구분  결측값
1       주소    0
3  데이터기준일자    0
2     전화번호   17

In [20]:
d['사무소명']

0              다와행정사사무소
1             우성 행정사사무소
2             윤득노행정사사무소
3              합동행정사사무소
4          글로벌코리아행정사사무소
5                미라보행정사
6            리더스행정법률컨설팅
7                 동부행정사
8             행정사고영표사무소
9             강대남행정사사무소
10           국민권익행정사사무소
11               행정사 봉공
12              붐행정사사무소
13            한상도행정사사무소
14            행정사이철호사무소
15            행정서사향우사무소
16    VISA KOREA 행정사사무소
17            최세출행정사사무소
18            스마트행정사사무소
19              탑행정사사무소
20            행정사이범석사무소
21            행정사권동용사무소
22             인선행정사사무소
23            행정사송경엽사무소
24            행정사구용우사무소
25             상우행정사사무소
26            조장훈행정사사무소
27             신화행정사사무소
28                가일행정사
29          외국어번역행정사사무소
30              행정사 신광우
31               코리아행정사
32            이요일행정사사무소
33               이규석행정사
34             MJ행정사사무소
35            김난선행정사사무소
36                  광성사
37            행정사이승제사무소
38               피정호행정사
39              서한기업(주)
40                  안성사
Name: 사무소명, dtype: object

In [27]:
ad=d.sort_values('사무소명',ascending=False)

In [33]:
ad

,사무소명,주소,전화번호,데이터기준일자
15,행정서사향우사무소,서울 동대문구 천호대로35길 25(용두동),02-962-6251,2020-06-04
14,행정사이철호사무소,서울 동대문구 천호대로35길 25(용두동),NaN,2020-06-04
37,행정사이승제사무소,서울 동대문구 약령시로21가길 3(청량리동),NaN,2020-06-04
20,행정사이범석사무소,서울 동대문구 약령시로21길 30(청량리동),02-967-9103,2020-06-04
23,행정사송경엽사무소,"서울 동대문구 천호대로83길 32, 704호(장안동,신부파스칼텔)",NaN,2020-06-04
21,행정사권동용사무소,"서울 동대문구 왕산로 225, A동 2층 203-2호(청량리동,미주상가)",NaN,2020-06-04
24,행정사구용우사무소,서울 동대문구 고산자로28가길 2(용두동),NaN,2020-06-04
8,행정사고영표사무소,"서울 동대문구 망우로 133, 303호(휘경동,진영빌딩)",NaN,2020-06-04
30,행정사 신광우,서울 동대문구 왕산로32길 99(용두동),02-957-3215,2020-06-04
11,행정사 봉공,"서울 동대문구 왕산로 4, 306호(신설동,동화빌딩)",NaN,2020-06-04
3,합동행정사사무소,"서울 동대문구 한빛로 12, 삼우빌딩 401호(신설동)",02-904-5112,2020-06-04
13,한상도행정사사무소,서울 동대문구 이문로 29(회기동),02-969-1800,2020-06-04
38,피정호행정사,서울 동대문구 이문로 163(이문동),NaN,2020-06-04
19,탑행정사사무소,서울 동대문구 왕산로26길 23(용두동),02-964-0713,2020-06-04
31,코리아행정사,서울 동대문구 장한로 6(장안동),02-2245-5074,2020-06-04
17,최세출행정사사무소,"서울 동대문구 천호대로 295, 지하1층 34호(답십리동)",NaN,2020-06-04
26,조장훈행정사사무소,"서울 동대문구 이문로9길 133, 지하1층(이문동)",02-959-2432,2020-06-04
22,인선행정사사무소,"서울 동대문구 고산자로 420, 429호(용두동,경동프라자)",02-967-5455,2020-06-04
32,이요일행정사사무소,서울 동대문구 청량리동 한신근린상가 304호,NaN,2020-06-04
33,이규석행정사,서울 동대문구 이문로 163(이문동),02-959-6664,2020-06-04
2,윤득노행정사사무소,"서울 동대문구 이문로 93(이문동,민족통일MJ캠퍼스외대)",02-969-3700,2020-06-04
1,우성 행정사사무소,"서울 동대문구 답십리로 184, 3동 1203호(답십리동, 동서울한양아파트)",02-2217-8731,2020-06-04
29,외국어번역행정사사무소,서울 동대문구 회기로19길 15(회기동),02-964-9670,2020-06-04
40,안성사,서울 동대문구 고산자로28가길 2(용두동),02-965-5925,2020-06-04
27,신화행정사사무소,"서울 동대문구 왕산로 225, A동 5층 3호(청량리동,미주상가)",NaN,2020-06-04
18,스마트행정사사무소,"서울 동대문구 왕산로 225, 3층 6호(청량리동,미주상가)",070-4643-5251,2020-06-04
39,서한기업(주),서울 동대문구 천호대로 295(답십리동),02-2215-0051,2020-06-04
25,상우행정사사무소,"서울 동대문구 외대역동로 14, 103동 602호(휘경동,휘경센트레빌)",02-409-0736,2020-06-04
12,붐행정사사무소,"서울 동대문구 청계천로 433, 1309,1310호(신설동,미우골든오피스텔)",NaN,2020-06-04
5,미라보행정사,"서울 동대문구 왕산로35길 13, 306호(제기동)",02-2244-2305,2020-06-04
6,리더스행정법률컨설팅,서울 동대문구 약령시로21길 3(청량리동),02-959-5455,2020-06-04
7,동부행정사,"서울 동대문구 약령시로 154, 3동 1205호(청량리동,미주아파트)",NaN,2020-06-04
0,다와행정사사무소,"서울 동대문구 왕산로47길 54, 1층(청량리동)",02-975-4455,2020-06-04
35,김난선행정사사무소,서울 동대문구 이문로 130(이문동),02-957-1122,2020-06-04
4,글로벌코리아행정사사무소,"서울 동대문구 왕산로 122, 한방천하 용두동 포스빌 819호(용두동)",NaN,2020-06-04
10,국민권익행정사사무소,"서울 동대문구 망우로 83, 3층(휘경동)",NaN,2020-06-04
36,광성사,서울 동대문구 천호대로 319(답십리동),NaN,2020-06-04
9,강대남행정사사무소,"서울 동대문구 약령시로21길 30, 제4동 제5호(청량리동,현대아파트상가)",02-855-6778,2020-06-04
28,가일행정사,"서울 동대문구 왕산로 4, 612호(신설동,동화빌딩)",NaN,2020-06-04
16,VISA KOREA 행정사사무소,"서울 동대문구 천호대로23, 지하1층 18호(신설동,동광동대문베르빌)",1899-4644,2020-06-04
34,MJ행정사사무소,서울 동대문구 장한로12길 73(장안동),02-444-0070,2020-06-04

In [39]:
ad.sort_values(by='사무소명').tail(3)

         사무소명                        주소         전화번호     데이터기준일자
37  행정사이승제사무소  서울 동대문구 약령시로21가길 3(청량리동)          NaN  2020-06-04
14  행정사이철호사무소   서울 동대문구 천호대로35길 25(용두동)          NaN  2020-06-04
15  행정서사향우사무소   서울 동대문구 천호대로35길 25(용두동)  02-962-6251  2020-06-04